In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv(r"C:\Users\Anoux\Desktop\data-analysis\random-csv-files\GDP per capita.csv")

In [4]:
df2 = pd.read_csv(r"C:\Users\Anoux\Desktop\data-analysis\random-csv-files\Land use Statistics by Country.csv")

In [11]:
mergeA = df1.merge(df2, how = 'inner', on = 'Country')

In [12]:
mergeA

,Country,GDP per capita,ISO-code,Unnamed: 0,Rank,Cultivated land (km2),Cultivated land (%),Arable land (km2),Arable land (%),Permanent crops (km2),Permanent crops (%),Other lands (km2),Other lands (%),Total area (km2),Date
0,Afghanistan,2182.0,AFG,36,36,78916,12.10,77612,11.90,1304,0.20,673314,87.90,652230.0,2016
1,Albania,14866.0,ALB,120,121,7359,25.60,6497,22.60,862,3.00,21458,74.40,28748.0,2016
2,Algeria,16091.0,DZA,35,35,83360,3.50,73833,3.10,9527,0.40,2298381,96.50,2381741.0,2016
3,Angola,6763.0,AGO,65,65,52361,4.20,48621,3.90,3740,0.30,1194339,95.80,1246700.0,2016
4,Antigua and Barbuda,30593.0,ATG,182,178,101,22.73,81,18.18,20,4.55,342,77.27,443.0,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Vanuatu,3039.0,VUT,151,151,1451,11.90,195,1.60,1256,10.30,10738,88.10,12189.0,2011
177,Venezuela,16055.0,VEN,67,67,35572,3.90,28275,3.10,7297,0.80,876478,96.10,912050.0,2011
178,Vietnam,8677.0,VNM,29,29,108302,32.70,68227,20.60,40075,12.10,222908,67.30,331210.0,2011
179,Yemen,2312.0,YEM,96,96,16684,2.80,11616,2.20,1320,0.60,511286,97.20,527968.0,2011
180,Zambia,4174.0,ZMB,63,63,36125,4.80,36125,4.80,0,0.00,716493,95.20,752618.0,2011

In [13]:
mergeB = df1.merge(df2, how = 'outer', on = 'Country')

In [14]:
mergeB

,Country,GDP per capita,ISO-code,Unnamed: 0,Rank,Cultivated land (km2),Cultivated land (%),Arable land (km2),Arable land (%),Permanent crops (km2),Permanent crops (%),Other lands (km2),Other lands (%),Total area (km2),Date
0,Afghanistan,2182.0,AFG,36.0,36,78916.0,12.10,77612.0,11.90,1304.0,0.20,673314,87.90,652230.00,2016.0
1,Albania,14866.0,ALB,120.0,121,7359.0,25.60,6497.0,22.60,862.0,3.00,21458,74.40,28748.00,2016.0
2,Algeria,16091.0,DZA,35.0,35,83360.0,3.50,73833.0,3.10,9527.0,0.40,2298381,96.50,2381741.00,2016.0
3,Angola,6763.0,AGO,65.0,65,52361.0,4.20,48621.0,3.90,3740.0,0.30,1194339,95.80,1246700.00,2016.0
4,Antigua and Barbuda,30593.0,ATG,182.0,178,101.0,22.73,81.0,18.18,20.0,4.55,342,77.27,443.00,2005.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Clipperton Island,NaN,NaN,232.0,,0.0,0.00,0.0,0.00,0.0,0.00,6,100.00,6.00,2005.0
244,Ashmore and Cartier Islands,NaN,NaN,233.0,,0.0,0.00,0.0,0.00,0.0,0.00,5,100.00,5.00,2005.0
245,Navassa Island,NaN,NaN,234.0,,0.0,0.00,0.0,0.00,0.0,0.00,5,100.00,5.00,2005.0
246,Monaco,NaN,NaN,235.0,193,0.0,0.00,0.0,0.00,0.0,0.00,2,100.00,2.00,2005.0
247,Vatican City,NaN,NaN,236.0,194,0.0,0.00,0.0,0.00,0.0,0.00,0.44,100.00,0.44,2005.0